name: Deploy Trainer

on:
  push:
    paths:
    - 'src/trainer/**'
    - '.github/workflows/trainer-build.yaml'
    branches:
    - 'training_and_monitoring_pipeline'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:

    - name: code checkout
      uses: actions/checkout@v2

    - name: install the gcloud cli
      uses: google-github-actions/setup-gcloud@v0
      with:
        project_id: ${{ secrets.GOOGLE_PROJECT }}
        service_account_key: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}
        export_default_credentials: true

    - name: build and push the docker image
      env:
        GOOGLE_PROJECT: ${{ secrets.GOOGLE_PROJECT }}
      run: |
        gcloud auth configure-docker us-central1-docker.pkg.dev
        docker build -t us-central1-docker.pkg.dev/$GOOGLE_PROJECT/sepsis-mlops-repo/train_pipeline:latest src/trainer/
        docker push us-central1-docker.pkg.dev/$GOOGLE_PROJECT/sepsis-mlops-repo/train_pipeline:latest